<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TVTK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <TVTK.Properties.Settings>
            <setting name="Temp" serializeAs="String">
                <value />
            </setting>
            <setting name="Height" serializeAs="String">
                <value>2160</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>3840</value>
            </setting>
            <setting name="TypeWork" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IPServer" serializeAs="String">
                <value />
            </setting>
            <setting name="NameClient" serializeAs="String">
                <value />
            </setting>
        </TVTK.Properties.Settings>
    </userSettings>
</configuration>